body P{
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    background-color: peru;
    color: white;
}
.header-logo {
    margin-right: auto;
    padding: 10px;
}


.header-button {
    margin: auto 50px;
    padding: 10px;
}